body {
    background-color: #ffffff;
    font-family: 'Arial','Helvetica','Tahoma','Geneva',sans-serif;
    font-size: 12px;
    color:#494949;
    /*color: #333333;*/
}

th{
    color: #494949;
    font-weight: bold;
    padding:0px 0px 0px 3px;
    height:24px;
    font-size:12px;
}

td{
    padding:0px 0px 0px 3px;
    height:24px;
    vertical-align:middle;
    font-size:12px;
    
}

tr{
    height:24px;
}

a{
    color:#666666;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
}

img{
    border:0;
}

legend
{ /*#FFC6C6*/
color: #fff;
background: #3b5998;
border: 1px solid #8b9dc3;
padding: 2px 6px;
font-weight: bold;
/*font-family: sans-serif*/
}

fieldset
{
border: 1px solid #8b9dc3;
/*width: 25em;*/
padding : 0.5em 1em;
}

.submit_button {
    font-weight: bold;
    border: 1px solid #006;
    background: #9cf;   
/*font-weight: bold;
    /*background-color: #22ADBD;
    color: #0000;
    /*padding:5px 10px 5px 10px;
    border: 1px solid #666698;
    /*width:90px;
    height:25px;
    /*background-color: #22ADBD;
    background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);
    background-repeat: repeat-x;
    background-position: 50% 50%;*/
}
.select_button {
    font-weight: bold;
    /*background-color: #22ADBD;*/
    color: #000;
    /*padding:5px 10px 5px 10px;
    border: 1px solid #666698;*/
    width:90px;
    height:25px;
    /*background-color: #22ADBD;*/
    background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);
    background-repeat: repeat-x;
    background-position: 50% 50%;
}

input[type="submit"] , [type="button"] , [type="reset"]{
        /*font-weight: bold;
        background-color: #990000;
        filter: alpha(opacity=96);
        /*background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);*/
        /*color: #000;
        padding:2px 3px 2px 3px;
        border: 1px solid #666698;*/
        
        width:100px;
        border: 1px solid #006;
        
}

input[type="checkbox"] , [type="radio"] {
        padding:0px 0px 0px 0px;
        border: 0px;
}

input[type="submit"]:hover, [type="reset"]:hover{
        /*font-weight: bold;
        background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);
        background: #990000 url(images/ui-bg_highlight-soft_100_ddddee_1x100.png) 50% 50% repeat-x;
        color: #000;
        padding:5px 10px 5px 10px;
        border: 1px solid #666698;*/
}
input[type=text], select, textarea {
    font-size: 12px;
    /*border:1px solid #aaaaaa;*/
    height:auto;
    /*background-color:#ffffff;*/
    margin: 1px;
}
input[disabled], textarea[disabled], select[disabled], input[type=file], input[readonly], textarea[readonly]{
    border:1px solid #aaaaaa;
    background: #EBEBEB;
    margin: 1px;
}
input, select ,textarea{
        border: 1px solid #666698;
        font-size: 12px;
        color: #222222;
        padding:3px 0px 3px 0px;
}

input.editfiled {
        border: 1px solid #666698;
        font-size: 12px;
        color: #222222;
        background:#FF0;
        padding:3px 0px 3px 0px;
}

/* Special font for header */
input.PRNO {
        border:  1px  solid #666666;
        font-size: 16px;
        font:bold;
        color: #990000;
        /*background: #eee; */
        size:11px;
        padding:3px 0px 3px 0px;
}
.lcompany {
        border: 1px solid #990000;
        background: #ffef8f url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x; color: #363636;
        font-size: 20px;
        /*color: #222222;
        background: #eee;*/
        size:40px;
        /*padding:3px 0px 3px 0px;*/
}
.mandatory {
        border: 1px solid #990000; 
        background: #ffef8f url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x; 
        color: #363636;
        height:auto;
}

.textblue{
    color: #009;
}

.textgreen{
    color: #3C0;
}

.textred{
    color: #F00;
}
.footer{
    padding:20px 0px 10px 0px;
    font-size:16px;
    color:gray;
    text-align:center;
}
td.right {
    text-align:right;
}

/***************/
/** DISPLAY **/
table.display_criteria {
    width:100%;
    margin-top:0px;
}
table.display_criteria th{
   /*    border: 1px #FAF2FD;     */
    background : #dfe3ee;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    vertical-align: middle;
    /*padding-top: 1px;*/

}
table.display_criteria th.bottom{
    /*border: 1px #FFFFFF;*/
    font-style: normal;
    font-weight: bold;
    color: White;
    /*height: 15px;*/
    text-align: center;
    background : #FFFFFF;
}
table.display_criteria th.HEAD{
    /*border: 1px #FFFFFF;*/
    background : #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: White;
    /*height: 15px;*/
    text-align: center;
    /*white-space:nowrap; */
}
table.display_criteria td{
    /*border: 1px #0FA5AC;*/
    background : #FFFFFF;
    /*padding: 1px;*/
    height: 15px;
    /*white-space:nowrap;*/
}
table.HIDEBORDER td{
    border : 0px;
    vertical-align: middle;
}
img.IMG_BUTTON{
    cursor : pointer;
}
table.display_data {
    /*background : #f7f7f7; */
    padding: 0px 0px 0px 0px;
    border :0px;
}
table.display_data td {
    /*border:1px solid #0FA5AC;*/
    /*background-color:#FFFFFF;*/
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
    /*text-align:center;*/
}
table.display_data td.addnew {
    /*border:1px solid #0FA5AC;*/
    background-color:#f7f7f7;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    text-align:center;
    border:0px;
}
table.display_data td.button {
    padding-top: 0px;
    text-align:center;
}
table.display_data th {
    color : #FFFFFF;
    text-align: center;
    white-space:nowrap;
    border:0px;/*  #faf2f2;*/
    background-color:#8b9dc3;
}
table.display_data tr {
    /*border:1px solid #0FA5AC;*/
    background-color: #f7f7f7;
    /*text-align:center;*/
}
table.display_data tr.gray {
    /*border:1px solid #0FA5AC;*/
    background-color:#CCCCCC;
    /*text-align:center;*/
}
table.display_data tr.blue{
    /*border:1px solid #0FA5AC;*/
    background-color:#3399FF;
    font-weight: bold;
    /*text-align:center;*/
}
table.DISPLAY_HED{
    border:0px solid #aaaaaa;
    text-align:center;
}
table.display_head th{
    border:0px solid #aaaaaa;
    /*background-color:#990000;*/
    text-align:left;
    font-size:16px;
}
table.display_head td{
    border:0px solid #aaaaaa;
    color :  #fff;
    text-align:left;
    /*background-color:#008080;   */
    background-color:#3b5998;
    font-size:16px;
    font-weight: bold;
    height:25px;
}
table.display_head td.right{
    text-align:right;
}

table.PRTable{
    border:0px solid #aaaaaa;
    text-align:center;
    padding: 0px 0px 0px 0px;
    background-color:#F5F5F5;
    border:outset;
}
table.PRTable th{
    /*border:0px solid #aaaaaa;*/
    /*background-color:#990000;*/
    text-align:left;
    font-size:12px;
}
table.PRTable td{
    /*border:0px solid #aaaaaa;*/
    /*color :  #fff;*/
    text-align:left;
    /*background-color:#008080;*/
    font-size:12px;
    font-weight: bold;
}
table.PRTable td.right{
    text-align:right;
}

table.input_data {
    /*width:100%;*/
    margin-top:0px;
    background : #CCC;
}
table.input_data th{
    border: 1px #FAF2FD;
    /*background : #FFFFFF;*/
    /*background : #C19DC6;*/
    color :  #003366;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    /*white-space:nowrap;*/
    /*width: 15%;*/
    vertical-align: top;
    height: 15px;
    /*padding-top: 1px;*/

}
table.input_data th.bottom{
    /*border: 1px #FFFFFF;*/
    font-style: normal;
    font-weight: bold;
    color: White;
    /*height: 15px;*/
    text-align: center;
    background : #FFFFFF;
}
table.input_data th.HEAD{
    /*border: 1px #FFFFFF;*/
    background : #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: White;
    /*height: 15px;*/
    text-align: center;
    /*white-space:nowrap; */
}
table.input_data td{
    /*border: 1px #0FA5AC;*/
    background : #FFFFFF;
    /*padding: 1px;*/
    height: 15px;
    /*white-space:nowrap;*/
}

/*
* ------------------------------------   CSS for text.
*/

.align-right{
    text-align:right
}

.align-left{
    text-align:left
}

.align-center{
    text-align:center
}

 /*Style class for button.*/
.btn-close{
    width: 77px;
}

blockquote .left-indent {
    margin-top:0;
    margin-bottom:0;
}

/*
* ------------------------------------   CSS for text box.
*/

input.readonly {
    background-color: #EBEBEB;
}

input.invalid {
    border-style:solid;
    border-color:#FF0000;
}

select.invalid {
    border-style:solid;
    border-top:#FF0000;
    border-right:#FF0000;
    border-bottom:#FF0000;
    border-left:#FF0000;
    filter:
    progid:DXImageTransform.Microsoft.dropshadow(OffX=-1.5, OffY=0,color=#FF0000)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=1.5, OffY=0,color=#FF0000)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1.5,color=#FF0000)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1.5,color=#FF0000);
}

/*
* ------------------------------------   CSS for clickable table.
/*Start for clickable table*/
.default-row {
    background-color: #FFFFFF;
    color: #003366;
    font-weight: normal;
}

.alternate-row {
    background-color: #DEEBFE;
    color: #003366;
    font-weight: normal;
}

.selected-row {
    background-color: #ffcc00;
}

.clickable-row {
    cursor: pointer;
}

.left-align-text {
    text-align: left;
}

.center-align-text {
    text-align: center;
}

.right-align-text {
    text-align: right;
}

/*End for clickable table*/

.word-wrap-row {
    word-wrap: break-word;
}

.msg_success{
    font-weight: bold;
    color: #0000FF;
    font-size: 12px;
}

.msg_error{
    font-weight: bold;
    color: #FF0000;
    font-size: 12px;

}
/* Css for Header PR-PO Backgroud*/
.prnumberbg {
    /*9BE6B9*/
    background-color:#FFFFFF;
    padding:0px 0px 0px 0px;
}

/*  Class for fix width = 824  for fieldset */
.fixwidth {
    width:100%;
}
.logout {color: #FF0000;
}
/*
table.display_data tr:nth-of-type(odd) td{
    border: 1px solid #FFFFFF;
    background : #FFFFFF;
    text-align: center;
    padding: 3px;
    vertical-align: top;
}
input[type=button], input[type=submit], input[type=reset]{
    font-family: "Tahoma", "MS Sans Serif", "Microsoft Sans Serif", "MS Serif",sans-serif;
    font-size: 16px;
    width: auto;
    height: 22px;
    cursor: hand;
    color: #620062;
    border: 1px solid #865998;
    background : #e6bbff;
    outline : #fff;
    margin-bottom: 3px
}
.screennameborder {
    padding:4px 0px 4px 0px;
    border:1px solid #812488;
    background-color:#a062ad;
}
.screenname {
    text-align:center;
    vertical-align:middle;
    font-size:16px;
    font-weight:bold;
    color:#ffffff;
    width:60%;
}
.screennameofficer {
    text-align:right;
    vertical-align:bottom;
    font-size:11px;
    color:#ffffff;
    width:20%;
    padding:0px 5px 0px 0px;
}
.menutable th {
    padding:20px 0px 0px 0px;
    font-size:16px;
}
.menutable td {
    font-size:16px;
}
.rbnumberbg {
    background-color:#e2d6e4;
}

table.display_data  td.MENU_HEAD{
    background : #D0A3DC;
    color :  #620062;
    text-align : center;
}
table.display_data  td.MENU_HEAD_TEXT{
    background : #D0A3DC;
    color :  #620062;
}
table.display_data  td.MENU_LIST{
    background : #E9C8F7;
    color :  #620062;
    text-align : center;
}
table.display_data  td.MENU_LIST_TEXT{
    background : #E9C8F7;
    color :  #620062;
}
table.display_data tr:hover td, table.display_data tr.even:hover td, table.display_data tr.odd:hover td{
    background : #E8C4F7;
    color : #5A167E;
}

table.display_data tr.even td {background: #f0e8f0}
table.display_data tr.odd td {background: #e9dce9}
input[type=checkbox] {
    outline:none;
}
table.DISPLAY_HED{
    border:0px solid #aaaaaa;
    text-align:center;
}
table.display_head th{
    border:0px solid #aaaaaa;
    background-color:transparent;
    text-align:center;
    font-size:16px;
}
table.display_head td{
    border:0px solid #aaaaaa;
    color :  #620062;
    background-color:transparent;
    font-size:16px;
}
table.display_head td.right{
    text-align:right;
}
*/

.table.menu_table  {
    background-color :  #FFE1E1;
}

.number{
    text-align:right;
    width:80px;
}
