@charset "UTF-8";
 
 
    ul.dropdown li {
     padding: 5px;
    }
 
    ul.dropdown *.dir {
     padding-right: 25px;
     background-image: none;
     background-position: 100% 50%;
     background-repeat: no-repeat;
    }
 
        /* Non-first level */
        ul.dropdown ul *.dir {
         padding-right: 15px;
         /*background-image: url(images/nav-arrow-right.png);*/
         background-position: 100% 50%;
         background-repeat: no-repeat;
        }
 
        ul.dropdown ul ul *.dir {
         /*background-image: url(images/nav-arrow-right2.png);*/
        }
 
 
    /* Components override */
 
    ul.dropdown-vertical *.dir {
     /*background-image: url(images/nav-arrow-right.png);*/
    }
 
    ul.dropdown-vertical-rtl *.dir {
     padding-right: 15px;
     /*background-image: url(images/nav-arrow-left.png);*/
     background-position: 0 50%;
    }
 
 
/*------------------------------------------------------------------------------------------------------/
    @section    Base Drop-Down Styling  */
 
 
 
    /* ALL LEVELS (incl. first) */
 
    ul.dropdown {
     /*font: bold 17px/normal Arial, Helvetica, sans-serif;*/
     font: bold 12px/normal Arial, Helvetica, sans-serif;
    }
 
        ul.dropdown li {
         background-color: #FF0000;
         color: #fff;
        }
 
        ul.dropdown li.hover,
        ul.dropdown li:hover {
        }
 
        /* Links */
 
        ul.dropdown a:link,
        ul.dropdown a:visited { color: #fff; text-decoration: none;}
        ul.dropdown a:hover {
         border-top-color: #5db1e0 !important;
         border-left-color: #5db1e0;
         background-color: #4498c7;
         color: #fff;
        }
 
        ul.dropdown ul a.dir:hover { /* proposal */
         background-color: #4698ca;
         /*background-image: url(images/comnav-arrowon.png);*/
         color: #fff;
        }
 
        ul.dropdown a:active {
         /*background: #058acf url(images/nav-sub-press.png) 0 0 repeat-x !important;*/
         color: #fff;
        }
 
 
        /* NON-FIRST LEVEL */
 
        ul.dropdown ul {
         left: auto;
         right: 0;
         width: 150px;
         margin-top: -1px;
         margin-left:0px;
         border-top: 1px solid #FFF;
         border-left: solid 1px #FFF;
         /*font: bold 10px/1em Tahoma, Geneva, Verdana, sans-serif;*/
         font: bold 8px/1em Arial, Helvetica, sans-serif;
        }
 
            ul.dropdown ul li {
             background-color: #ff8567;
            }
 
        ul.dropdown ul ul {
         top: 0;
         right: auto;
         left: 100%;
         margin-top: 0;
         margin-left:0px;
         border-top: none;
         border-left: none;
         font-weight: normal;
        }
 
            ul.dropdown ul ul li {
             background-color: #ff8567;
            }
 
        ul.dropdown ul ul ul li {
         background-color: #FF3300 ;
        }
 
/* Mixed */
 
ul.dropdown li a,
ul.dropdown *.dir {
 border-style: solid;
 border-width: 1px;
 border-color: #FFF #FFF #FFF #FFF;
 margin-top:0px;
 /*border-color: #FF0000 #FF0000 #FF0000 #FF0000;*/
}
 
ul.dropdown ul li a,
ul.dropdown ul *.dir { border-color: #FFF #FFF #FFF; border-left: none; }
 
ul.dropdown ul ul li a,
ul.dropdown ul ul *.dir { border-color: #FFF #FFF #FFF; }
 
ul.dropdown ul ul ul li a,
ul.dropdown ul ul ul *.dir { border-color: #FFF #FFF #FFF; }
/*ul.dropdown ul ul ul *.dir { border-color: #FF0000 #FF0000 #FF0000; }*/
 
/* Custom elements */
#n-sps { width: 124px; height: 18px; text-align: left; margin-left:0px;margin-top:1px;}
#n-sps ul { right: auto; left: 0; width: 180px; text-align: left; }
#n-sps ul ul { left: 180px; width: 175px;}
#n-sps ul a { width: 165px; }
#n-sps ul a.dir { width: 175px; }
#n-sps ul ul a { width: 165px; }
#n-sps ul ul a.dir { width: 90px; }
#n-sps ul ul ul { left: 100%; }