.fake-container {
    float: none;
    font-family: {font};
    font-size: 16px;
    border: solid 1px #d0d0d0;
    margin-left: 0px;
    margin-top: 2px;
    overflow: hidden;
}

.font-paging {
    font-size: 12px;
}

.font-release-version {
    font-size: 12px;
}

.font-screen-title {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
}

.grid-table {
    border: solid 1px #0052A4;
    background-color: #FFFFFF;
}

.head-checkbox {
    font-family: {font};
    font-size: 6pt;
    font-weight: normal;
    background-color: #004080;
}


.headcriteria {
    background-color: #1655A0;
    color: #ffffff;
    font-weight: bold;
}

.head-large {
    background-color: #6699CC;
    color: #000000;
    font-weight: bold;
    border: solid 1px #0067CE;
}

.menu-body {
    background-color: #ffffff;
    font-family: {font};
    font-size: 15px;
}

.menu-title {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

.new-row {
    background-color: #a9c6e2;
}

/*
* ------------------------------------   CSS for link.
*/
a:link {
    color: #0067CE;
    font-family: {font};
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #0067CE;
    font-family: {font};
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color: #0067CE;
    font-family: {font};
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

a.menu-head:link {
    color: #0059B3;
    font-family: {font};
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

a.menu-head:hover {
    color: #6FB7FF;
    font-family: {font};
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

a.menu-head:visited {
    color: #D70000;
    font-family: {font};
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

a.menu-detail:link {
    color: #0067CE;
    font-family: {font};
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
}

a.menu-detail:hover {
    color: #6FB7FF;
    font-family: {font};
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
}

a.menu-detail:visited {
    color: #A40000;
    font-family: {font};
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
}

a.disable:visited,a.disable:link,a.disable:hover {
    color: dimgray;
    cursor: default;
    text-decoration: none;
}

a.logout:link,a.logout:visited,a.logout:hover {
    color: #B00000;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.submenu-blockquote {
    margin-top:0; 
    margin-bottom:0;
}

.head-login {
    background-color: #E6F2FF;
    font-family: {font};
    font-size: 28px;
    font-weight: bold;
}

.login-table {
    /*width: 400px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;*/
    font-size: 15px;
    font-weight: bold;
}

.inline-navigation dl dt, .inline-navigation dl dd, .inline-navigation dl dd dt {
    display: inline;
}

.tbl-result-msg{
    width: 1235px;
}

.prod-history-column-select-table tr td {
    border: 1px solid #cccccc;
    padding-left: 6px;
    padding-top: 1.5px;
    padding-bottom: 1.4px;
    font-size: 12px;
    font-family: {font};
    white-space: nowrap;
}

/*
* ------------------------------------   CSS for super table.
*/
/*Begin for super table*/
.sBase {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.sHeader {
    position: absolute;
    z-index: 3;
    background-color: #ffffff;
    white-space: nowrap;
}

.sHeaderInner {
    position: relative;
    white-space: nowrap;
}

.sHeaderInner table {
    border-spacing: 0px 0px !important;
    border-collapse: collapse !important;
    width: 1px !important;
    table-layout: fixed !important;
    background-color: #ffffff;
}

.sFHeader {
    position: absolute;
    z-index: 4;
    overflow: hidden;
    white-space: nowrap;
}

.sFHeader table {
    border-spacing: 0px 0px !important;
    border-collapse: collapse !important;
    width: 1px !important;
    table-layout: fixed !important;
    background-color: #ffffff;
}

.sData {
    position: absolute;
    z-index: 2;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.sData table {
    border-spacing: 0px 0px !important;
    border-collapse: collapse !important;
    width: 1px !important;
    table-layout: fixed !important;
}

.sFData {
    position: absolute;
    z-index: 1;
    left: 0px;
}

.sFDataInner {
    position: relative;
}

.sFData table {
    border-spacing: 0px 0px !important;
    border-collapse: collapse !important;
    width: 1px !important;
    table-layout: fixed !important;
}

.sDefault {
    white-space: nowrap;
}

.sDefault th {
    border: 1px solid #cccccc;
    padding: 3px 6px 3px 4px;
    font-size: 12px;
    font-family: {font};
    font-weight: bold;
    background-color: #6699CC;
    border-color: #c5c5c5;
    white-space: nowrap;
}

.sDefault td {
    border: 1px solid #FFFFFF;
    padding: 3px 6px 3px 4px;
    font-size: 12px;
    font-family: {font};
    white-space: nowrap;
}

.sDefault-Fixed {
    background-color: #eeeeee;
    border-color: #c5c5c5;
}
/*End for super table*/

/*
* ------------------------------------   CSS for clickable table.
/*Start for clickable table*/
.default-row {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: normal;
}

.alternate-row {
    background-color: #DEEBFE;
    color: #000000;
    font-weight: normal;
}

.selected-row {
    background-color: #ffcc00;
}

.clickable-row {
    cursor: pointer;
}

.left-align-text {
    text-align: left;
}

.center-align-text {
    text-align: center;
}

.right-align-text {
    text-align: right;
}

/*End for clickable table*/

/*
* ------------------------------------   CSS for BOM
/*Start for BOM*/
.display-total-items-found {
    background-color: #FFFF99;
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #104A7B;
    border-right: 1px solid #104A7B;
    border-left: 1px solid #AFC4D5;
    border-top: 1px solid #AFC4D5;
}

.bom-head {
    background-color:#0099CC;
    color: #ffffff;
    font-size: 10pt;
    font-weight:bold;
}

.bom-head-normal {
    background-color:#0099CC;
    color: #ffffff;
    font-size: 10pt;
    font-weight:normal;
}


.bom-main-body {
    background-color:#D2E9FF;
    color: #000000;
    font-size: 10pt;
    font-weight:bold;
}

.bom-compare-body {
    background-color:#D1D1E9;
    color: #000000;
    font-size: 10pt;
    font-weight:bold;
}

.bom-main-body-normal {
    background-color:#D2E9FF;
    color: #000000;
    font-size: 10pt;
    font-weight:normal;
}

.bom-compare-body-normal {
    background-color:#D1D1E9;
    color: #000000;
    font-size: 10pt;
    font-weight:normal;
}
/*End for BOM*/

.word-wrap-row {
    word-wrap: break-word;
}

/*Turn off IME*/
.ime-disable{
    ime-mode: disabled;
}

.txb-half-width{
    ime-mode: disabled;
}

.txb-full-width{
    /*ime-mode: disabled;*/
}

.txb-sign-integer{
    ime-mode: disabled;
}

.txb-sign-decimal{
    ime-mode: disabled;
}

.txb-unsign-integer{
    ime-mode: disabled;
}
.txb-unsign-decimal{
    ime-mode: disabled;
}

/* Akat K. 2013-06-03 : [104] style for WEIN001 */
.status-table {
    word-wrap: break-word;
    background-color: #eeeeee;
    border-spacing: 0px 0px !important;
    border-collapse: collapse !important;
}

.status-table th {
    border: 1px solid #FFFFFF;
    background-color: #6699CC;
    font-size: 12px;
    height:40px;
    v-align:center;
}

.status-table td {
    border: 1px solid #FFFFFF;
    font-size: 12px;
    font-family: {font};
}

