@charset "UTF-8";
@charset "UTF-8";
@import "default.css";
 
 
/*------------------------------------------------------------------------------------------------------/
 * @section        Base Style Extension
 */
 
ul.dropdown a,
ul.dropdown span {
 display: block;
 padding: 5px 30px;
}
 
 
 
/*------------------------------------------------------------------------------------------------------/
 *    @section    Base Style Override
 */
 
 
ul.dropdown li {
 padding: 0;
}
 
ul.dropdown ul a,
ul.dropdown ul span { /* POI, proposal: override abstract a, span */
 padding: 5px;
}
 
 
 
/*------------------------------------------------------------------------------------------------------/
 * @section        Base Style Reinitiate: post-override activities
 */
 
 
ul.dropdown *.dir { /* POI */
 padding: 5px 30px;
}
 
ul.dropdown ul *.dir {
 /*padding: 8px 30px 8px 8px;*/
 padding: 5px 0px 5px 5px;
}
 
 
 
/*------------------------------------------------------------------------------------------------------/
 *    @section    Custom Styles
 */
 
 
ul.dropdown ul a {
 width: 133px;
}
 
ul.dropdown ul a.dir {
 width: 111px;
}
 
 
 
/*------------------------------------------------------------------------------------------------------/
 * @section        Support Class `open` Usage
 * @source        js, artificial
 *
 */
 
 
ul.dropdown *.open {
 background-color: #3d3d3d;
}
ul.dropdown ul *.open {
 background-color: #4c4c4c;
 background-image: url(images/comnav-arrowover.png);
 color: #fff;
}
ul.dropdown ul ul *.open {
 background-color: #595959;
 background-image: url(images/comnav-arrowover2.png);
 color: #fff;
}
/* Override UPPER TWO definitions */
ul.dropdown a.open:hover {
 background-color: #4698ca;
 color: #fff;
}
ul.dropdown ul a.open:hover {
 background-image: url(images/comnav-arrowon.png);
 color: #fff;
}
 
 
/* Clone in CSS 2 */
 
ul.dropdown li:hover > *.dir {
 background-color: #3d3d3d;
}
ul.dropdown ul li:hover > *.dir {
 background-color: #4c4c4c;
 background-image: url(images/comnav-arrowover.png);
}
ul.dropdown ul ul li:hover > *.dir {
 background-color: #595959;
 background-image: url(images/comnav-arrowover2.png);
 color: #fff;
}
 
/* Override UPPER TWO definitions */
ul.dropdown li:hover > a.dir:hover {
 background-color: #4698ca;
 color: #fff;
}
ul.dropdown ul li:hover > a.dir:hover {
 background-image: url(images/comnav-arrowon.png);
 color: #fff;
}
 
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}
 
ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}
 
ul.dropdown li{
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}
 
ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}
 
ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}
 
ul.dropdown ul li {
 float: none;
}
 
ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}
 
ul.dropdown li:hover > ul {
 visibility: visible;
}