body {
    background-color: #ffffff;
    font-family: 'Arial','Helvetica','Tahoma','Geneva',sans-serif;
    font-size: 12px;
    color:#494949;
    margin-top: 0px;
    margin-left: 0px;
    width:1000px;
    /*color: #333333;*/
}

th{
    color: #494949;
    font-weight: bold;
    padding:0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height:24px;
    font-size:12px;
}

td{
    padding:0px 0px 0px 0px;
    margin-right:0px;
    height:24px;
    vertical-align:middle;
    font-size:12px;
    word-wrap: break-word;
}

tr{
    height:24px;
}

tbody { 
    /*height:10em;  
    overflow:scroll;*/
/*     height:100px;   */
    overflow:auto;
}


a{
    color:#666666;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
}

img{
    border:0;
}

legend
{ /*#FFC6C6*/
color: #fff;
background: #3b5998;
border: 1px solid #8b9dc3;
padding: 2px 6px;
font-weight: bold;
/*font-family: sans-serif*/
}

fieldset
{
border: 1px solid #8b9dc3;
/*width: 25em;*/
padding : 0.5em 0.5em;
margin: 0px 0px 0px 0px;
}

.submit_button {
    font-weight: bold;
    border: 1px solid #006;
    background: #9cf;
    width:90px;
    height:25px;
     
/*font-weight: bold;
    /*background-color: #22ADBD;
    color: #0000;
    /*padding:5px 10px 5px 10px;
    border: 1px solid #666698;
    /*width:90px;
    height:25px;
    /*background-color: #22ADBD;
    background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);
    background-repeat: repeat-x;
    background-position: 50% 50%;*/
}
.select_button {
    font-weight: bold;
    font-size: 12px;
    /*background-color: #22ADBD;*/
    color: #000;
    /*padding:5px 10px 5px 10px;
    border: 1px solid #666698;*/
    width:90px;
    height:25px;
    /*background-color: #22ADBD;*/
    background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);
    background-repeat: repeat-x;
    background-position: 50% 50%;
}

.select_button2 {
    font-weight: bold;
    font-size: 12px;
    /*background-color: #22ADBD;*/
    color: #000;
    /*padding:5px 10px 5px 10px;
    border: 1px solid #666698;*/
    width:110px;
    height:25px;
    /*background-color: #22ADBD;*/
    background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);
    background-repeat: repeat-x;
    background-position: 50% 50%;
}

/*input[type="submit"] , [type="button"] , [type="reset"]{
        /*font-weight: bold;
        background-color: #990000;
        filter: alpha(opacity=96);
        /*background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);*/
        /*color: #000;
        padding:2px 3px 2px 3px;
        border: 1px solid #666698;*/
        
        /*width:100px;
        border: 1px solid #006;*/

  /*  color: #000;
    font-size:14px;
    width:150px;
    height:30px;
    background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);
    background-repeat: repeat-x;
    background-position: 50% 50%;
}*/

input[type="checkbox"] , [type="radio"] {
    padding:0px 0px 0px 0px;
    border: 0px;
}

input[type=text], select, textarea {
    font-size: 12px;
    height:auto;
    margin: 1px;
    font-family: "Tahoma", "Arial", "Arabic Transparent";
}

select[disabled], input[type=file], input[readonly], input[disabled], textarea[readonly]{
    border:1px solid #aaaaaa;
    background: #EBEBEB;
    margin: 1px;
    color:#aaaaaa;
}
input, select ,textarea{
    border: 1px solid #666698;
    font-size: 12px;
    color: #222222;
    padding:3px 0px 3px 0px;
}

input.editfiled {
    border: 1px solid #666698;
    font-size: 12px;
    color: #222222;
    background:#FF0;
    padding:3px 0px 3px 0px;
}

/* Special font for header */
input.PRNO {
    border:  1px  solid #666666;
    font-size: 16px;
    font:bold;
    color: #990000;
    size:11px;
    padding:3px 0px 3px 0px;
}
.lcompany {
    border: 1px solid #990000;
    background: #ffef8f url(images/ui-bg_highlight-soft_25_ffef8f_1x100.png) 50% top repeat-x; color: #363636;
    font-size: 20px;
    /*color: #222222;
    background: #eee;*/
    size:40px;
    /*padding:3px 0px 3px 0px;*/
}
/*.mandatory {
        border: 1px solid #990000; 
        background: #ffef8f; 
        color: #363636;
        height:auto;
}
*/
.mandatory {
        border: 1px solid #990000;
        background: #ffef8f;
        width: 70px;
        
        /*color: #363636;
        height:auto;
        border-style:1px solid;
        border-top:#FF0000;
        border-right:#FF0000;
        border-bottom:#FF0000;
        border-left:#FF0000;
        background-color: #ffef8f;
        filter:
        progid:DXImageTransform.Microsoft.dropshadow(OffX=-2.5, OffY=0,color=#FF0000)
        progid:DXImageTransform.Microsoft.dropshadow(OffX=2.5, OffY=0,color=#FF0000)
        progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1.5,color=#FF0000)
        progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1.5,color=#FF0000);*/
        /*
        filter: 
        progid:DXImageTransform.Microsoft.dropshadow(OffX=-1, OffY=-1,color=#FF0000) 
        progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1,color=#FF0000);
        */
        /*color: #363636;
        width: 125px; 
        border-right: red 2px solid;
        border-top: red 2px solid; 
        border-left: red 2px solid; 
        border-bottom: red 2px solid; 
        background-color: #ffffff;*/
}
.mandatory2 {
        border: 1px solid #990000;
        background: #ffef8f;
}      

.textblue{
    color: #009;
}

.textgreen{
    color: #3C0;
}

.textred{
    color: #F00;
}
.footer{
    padding:20px 0px 10px 0px;
    font-size:16px;
    color:gray;
    text-align:center;
}
td.right {
    text-align:right;
}

/***************/
/** DISPLAY **/
table.display_criteria {
    margin-top:0px;
}
table.display_criteria th{
    background : #dfe3ee;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    vertical-align: middle;

}
table.display_criteria th.bottom{
    font-style: normal;
    font-weight: bold;
    color: White;
    text-align: center;
    background : #FFFFFF;
}
table.display_criteria th.HEAD{
    background : #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: White;
    text-align: center;
}
table.display_criteria td{
    background : #FFFFFF;
    height: 15px;
}
table.HIDEBORDER td{
    border : 0px;
    vertical-align: middle;
}
img.IMG_BUTTON{
    cursor : pointer;
}
table.display_data {
    padding: 0px 0px 0px 0px;
    border :0px;
}
table.display_data td {
    padding: 0px 3px;
    vertical-align: middle;
}
table.display_data td.addnew {
    background-color:#f7f7f7;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    text-align:center;
    border:0px;
}
table.display_data td.button {
    padding-top: 0px;
    text-align:center;
}
table.display_data th {
    color : #FFFFFF;
    text-align: center;
    /*white-space:nowrap;*/
    border: solid 0px #FFFFFF;
    background-color:#8b9dc3;
    padding: 0px 3px;
}
table.display_data tr {
    background-color: #f7f7f7;
}
table.display_data tr.gray {
    background-color:#CCCCCC;
}
table.display_data tr.blue{
    background-color:#3399FF;
    font-weight: bold;
}
table.display_data tr.blueLight{
    background-color:#e8ebf3;
}

table.DISPLAY_HED td{
    border:0px solid #aaaaaa;
    text-align:center;
    font-size:13px;
    font-weight: bold;
}
table.display_head th{
    border:0px solid #aaaaaa;
    text-align:left;
    font-size:16px;
}
table.display_head td{
    border:0px solid #aaaaaa;
    color :  #fff;
    text-align:left;
    background-color:#3b5998;
    font-size:16px;
    font-weight: bold;
    height:25px;
}
table.display_head td.right{
    text-align:right;
}
table.PRTable{
    border:0px solid #aaaaaa;
    text-align:center;
    padding: 0px 0px 0px 0px;
    background-color:#F5F5F5;
    border:outset;
}
table.PRTable th{
    text-align:left;
    font-size:12px;
}
table.PRTable td{
    text-align:left;
    font-size:12px;
    font-weight: bold;
}
table.PRTable td.right{
    text-align:right;
}
table.input_data {
    /*width:100%;*/
    margin-top:0px;
    background : #CCC;
}
table.input_data th{
    border: 1px #FAF2FD;
    color :  #003366;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    vertical-align: top;
    height: 15px;
}
table.input_data th.bottom{
    font-style: normal;
    font-weight: bold;
    color: White;
    text-align: center;
    background : #FFFFFF;
}
table.input_data th.HEAD{
    background : #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: White;
    text-align: center;
}
table.input_data td{
    background : #FFFFFF;
    height: 15px;
}

table.welcomeTable th {
    color : #FFFFFF;
    text-align: center;
    background-color:#8b9dc3; 
    padding: 0px 0px 0px 0px;
}

/** CSS for text */
.align-right{
    text-align:right
}
.align-left{
    text-align:left
}
.align-center{
    text-align:center
}
 /*Style class for button.*/
.btn-close{
    width: 77px;
}
blockquote .left-indent {
    margin-top:0;
    margin-bottom:0;
}
p{ 
    margin: 0;
}

/*
* ------------------------------------   CSS for text box.
*/
textarea.readonly {
    border:1px solid #aaaaaa;
    background: #EBEBEB;
    margin: 1px;
}

input.readonly {
    border:1px solid #aaaaaa;
    background: #EBEBEB;
    margin: 1px;
}

input.invalid {
    border-style:solid;
    border-color:#FF0000;
}

select.invalid {
    border-style:solid;
    border-top:#FF0000;
    border-right:#FF0000;
    border-bottom:#FF0000;
    border-left:#FF0000;
    filter:
    progid:DXImageTransform.Microsoft.dropshadow(OffX=-1.5, OffY=0,color=#FF0000)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=1.5, OffY=0,color=#FF0000)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1.5,color=#FF0000)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1.5,color=#FF0000);
}

/*
* ------------------------------------   CSS for clickable table.
/*Start for clickable table*/
.default-row {
    background-color: #FFFFFF;
    color: #003366;
    font-weight: normal;
}

.alternate-row {
    background-color: #DEEBFE;
    color: #003366;
    font-weight: normal;
}

.selected-row {
    background-color: #ffcc00;
}

.clickable-row {
    cursor: pointer;
}

.left-align-text {
    text-align: left;
}

.center-align-text {
    text-align: center;
}

.right-align-text {
    text-align: right;
}

/*End for clickable table*/

.word-wrap-row {
    word-wrap: break-word;
}

.msg_success{
    border: 1px solid #6BDD46;
    padding : 0.5em 1em;
    margin: 0px 3px;
    width: 965px;
    height: 25px;
    color: #00BF00;
    font-size: 12px;
}

.msg_error{
    font-weight: bold;
    color: #F00;
    font-size: 12px;
}

/* Css for Header PR-PO Backgroud*/
.prnumberbg {
    /*9BE6B9*/
    background-color:#FFFFFF;
    padding:0px 0px 0px 0px;
}

/*  Class for fix width = 824  for fieldset */
.fixwidth {
    /*width:965px;*/
    width:978px;
}
.logout {color: #FF0000;
}
.table.menu_table  {
    background-color :  #FFE1E1;
}

.topframe {
    background-color: #ffffff;
    font-family: 'Arial','Helvetica','Tahoma','Geneva',sans-serif;
    font-size: 12px;
    color:#494949;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.generate {
    color: #990000;
    font-weight: bold;
    font-size: 12px;
}

.wrapText180px {
    width: 180px;
    word-wrap: break-word;
}

.wrapText250px {
    width: 250px;
    word-wrap: break-word;
}

.wrapText300px {
    width: 300px;
    word-wrap: break-word;
}

.wrapText350px {
    width: 350px;
    word-wrap: break-word;
}

.wrapText400px {
    width: 400px;
    word-wrap: break-word;
}

.wrapText500px {
    width: 500px;
    word-wrap: break-word;
}

.wrapText550px {
    width: 550px;
    word-wrap: break-word;
}

.wrapText640px {
    width: 640px;
    word-wrap: break-word;
}

.textAlignRight {
    padding-right:2px;
    text-align:right;
}

.hideHorizontal{
    position: relative;
    left: 1px;
    margin-right: 1px;
}

/*Add for mock up*/

select{
    width:150px;
    }
hr{
    width:1024px
}
.box{
    width:1024px;
    height:768px;
    margin-top:0px;
}
.detail{
    width:1000px;
    }
.button{
    font-size:14px;
    width:100px;
    height:30px;
    
    }
.button2{
    font-weight: bold;
    /*background-color: #22ADBD;*/
    color: #000;
    /*padding:5px 10px 5px 10px;
    border: 1px solid #666698;*/
    width:150px;
    height:25px;
    /*background-color: #22ADBD;*/
    background-image: url(images/ui-bg_highlight-soft_100_ddddee_1x100.png);
    background-repeat: repeat-x;
    background-position: 50% 50%;
}
.button3{
    font-size:12px;
    width:50px;
    height:20px;
    text-align:center;  
    }
.btnPopup{
    font-size:14px;
    width:60px;
    height:30px;
    text-align:center;  
    }
.menu{
    background-color:#FF0000;
    border-color:#FFFFFF;
    color:#FFFFFF;
}
.header{
    background-color: #3399FF;
}
.detail0{
    background-color: #CCCCCC;
    text-align:center;
}
.detail1{
    background-color: #F0F0F0;
    text-align:center;
}
.number{
    text-align:right;
    width:80px;
}
.numberWarning{
    text-align:right;
    width:80px;
    background-color:#FFCC99;
}
.label{
    text-align:right;
    font-weight:bold;
    font-size:16px;
    vertical-align:top;
}
.txtEditNum{
    width:50px;
    height:20px;
    text-align:right;
    }
    
.table1{
    width:60%;
}
.date{
    width:70px;
}
.txtUpload{
    width:300px;
    }
.txtUpload2{
    width:500px;
    }
.txtUpload3{
    width:398px;
    }
.txtAddr
{
   width:300px;
}
.txtname{
    width:200px;
}
.txtbox{
    width:150px;
}

.txtbox2{
    width:100px;
}
.txtbox3{
    width:50px;
}
.selectAdmin{
    width:100px;
}
.selectPage{
    width:70px;
    }
.checkbox{
    width:20px;
    height:20px;
    vertical-align:middle;
    text-align:center;
}
.divErrMsg{
    border: 1px solid #CD0A0A;
    /*width: 25em;*/
    padding : 0.5em 1em;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 965px;
    height: 25px;
}
.vAlignDate{
    width: 70px;
}
.tableMessage{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #cd0a0a;
    background: #FFF;
}
.ui-messageError{
    color:#F00;
    margin-left: 5px;
}
.ui-messageSuccess{
    color:#00bf00;
    margin-left: 5px;
}
.ui-messageWarning{
    color:#F99017;
    margin-left: 5px;
}
.ui-messageError2{
    color:#F00;
}
.file_button {
    width:70px;
    height:25px;
    cursor:none;
}
.vAlignTextTop{
    vertical-align:top;
}
.vAlignTextMiddle{
    vertical-align:middle;
}
#ui-displayCriteria{
    width:975px;
    border:0px;
    padding:0px 0px 0px 0px;
    border-spacing:1px;
}
#ui-displayHeader{
    width:990px;
    height:30px;
    border:0px;
    padding:0px 0px 0px 0px;
    spacing:0px;
}