.UIFilterList .selected{
    color:#333333;
    background-color:#dfe3ee; /* #6d84b4 #b484b4 */    
    border: 1px  solid #f7f7f7; /* #3b5998 #865998 */
    height:20px;
    padding-left:1px;
    z-index:1;
}
.UIFilterList_List{
    display:block;
    margin:0px;
    padding:0px;
}
.UIFilterList_ItemLink{
    color:#494949;
    display:block;
    height:20px;
    overflow:hidden;
    padding:6px 0px 1px 6px;
    text-overflow:ellipsis;
    /*font-size:12px;*/
}
.UIFilterList_Item{
    height:21px;
}
.UIFilterList_Item .UIFilterList_ItemLink:hover{
    background-color:#d8dfea; /* #eceef4 #f3eef4 */
    text-decoration:none;
}
.UIFilterList_Item_Header{
    color:#3b5998;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
}
.selected .UIFilterList_ItemLink:hover{
    background-color:transparent;
}
.selected .UIFilterList_ItemLink{
    border-top:0px none;
    padding-left:3px;
    padding-top:5px;
    color:#000000;
}
.filterheadertd {
    /* border:1px solid #898989;*/
    vertical-align:top;
    padding:10px 5px 10px 5px;
    height:100%;
    width:100%;
    white-space:nowrap;
}
.filterdetailtd {
    border:1px solid #898989;
    vertical-align:top;
    padding:10px 10px 10px 10px;
    background-color:#f7f7f7;
    height:100%;
    white-space:nowrap;
}

