<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-Control" Content="no-cache">
        <meta http-equiv="expires" Content="-1">
        <meta http-equiv="pragma" Content="no-cache">
        <title>Logout</title>
    </head>
    <body>
        <p>Current user already logout.</p>
        <p>
            <a href="https://sps-trial.asia.gscm.globaldenso.com/
                &gt;&gt; Login to SPS.
            </a>
        </p>
    </body>
</html>